/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Source+Code+Pro');*/
/*https://flatuicolors.com*/

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url(fonts/Roboto-Light.ttf);
    font-display: block;
}

@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto'), local('Roboto-Regular'), url(fonts/Roboto-Regular.ttf);
    font-display: block;
}

@font-face {
    font-family: 'Source Code Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Source Code Pro'), local('SourceCodePro-Regular'), url(fonts/SourceCodePro-Regular.ttf);
    font-display: block;
}

:root {
    --main-bg-color: var(--gray2);
    --panel-color: var(--gray4);
    --dark-color: var(--gray3);
    --darker-color: var(--gray1);
    --darkest-color: var(--gray0);

    --panel-delimiter-color: var(--gray5);

    --ui-highlight-color: var(--primary5);
    --ui-danger-color: var(--brighter-red);

    --default-radius: .5rem;
    --small-radius: .3rem;

    --default-shadow: 0 .1rem 1rem .1rem rgba(0, 0, 0, .7);
    --small-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3);
    --panel-border-thickness: 0.07rem;
    --panel-border: var(--panel-border-thickness) solid var(--gray5);

    --toolbar-height: 2rem;
    --tab-bar-height: 2rem;
    --indicator-height: .2rem;
    --panel-left-width: calc(8rem + 7vw);
    --panel-right-width: calc(8rem + 7vw);
    --function-doc-height: 61.8%;
    --prompt-width: 40rem;

    --tab-bar-icon-size: 1.4rem;

    --basic-ui-font-color: var(--gray8);
    --darker-ui-font-color: var(--gray7);
    --brighter-ui-font-color: var(--gray9);
    --ui-font-family: 'Roboto', 'Lucida Grande', 'Helvetica Neue', sans-serif;
    --ui-font-size-small: .85rem;
    --ui-font-size-default: 1rem;
    --ui-font-size-large: 1.6rem;
    --ui-line-height-default: 1.6rem;
    --ui-line-height-large: 1.7rem;

    --monospace-font-color: var(--gray8);
    --monospace-font-family: 'Source Code Pro', 'Menlo', 'Consola', monospace;
    --monospace-font-size: 1.2rem;
    --monospace-line-height: 1.6rem;

    --popup-bg-color: var(--gray9);

    --red: #c0392b;
    --brighter-red: #e74c3c;
    --darker-red: #992D22;
    --light-red: #ff7675;

    --orange: #d35400;
    --brighter-orange: #e67e22;
    --darker-orange: #AD4500;

    --yellow: #f39c12;
    --brighter-yellow: #f1c40f;
    --darker-yellow: #CC830F;
    --light-yellow: #ffeaa7;

    --green: #27ae60;
    --brighter-green: #2ecc71;
    --darker-green: #1E874B;
    --light-green: #55efc4;

    --ao: #16a085;
    --brighter-ao: #1abc9c;
    --darker-ao: #117A66;

    --blue: #2980b9;
    --brighter-blue: #3498db;
    --darker-blue: #216694;
    --light-blue: #74b9ff;

    --purple: #8e44ad;
    --brighter-purple: #9b59b6;
    --darker-purple: #6F3587;

    --accent1: #0B2626;
    --accent2: #233D3D;
    --accent3: #325C58;
    --accent4: #498F87;
    --accent5: #5DACA3;
    --accent6: #87D5D2;

    --primary2: #2B3F52;
    --primary3: #264A6E;
    --primary4: #34689D;
    --primary5: #4583C3;
    --primary6: #6FA1D3;
    --primary7: #B1D3F2;
    --primary8: #F0F8FE;

    /* Grays should be neutral */
    --gray0: #111;
    --gray1: #161616;
    --gray2: #242424;
    --gray3: #363636;
    --gray4: #444;
    --gray5: #585858;
    --gray6: #777;
    --gray7: #AAA;
    --gray8: #CCC;
    --gray9: #EEE;
}


body {
    background-color: var(--main-bg-color);
    color: var(--basic-ui-font-color);
    font-family: var(--ui-font-family);
    font-weight: 300;
}

.tab-view {
    height: calc(100% - var(--toolbar-height) - var(--indicator-height));
    width: 100%;
}

div.tooltipped::after,
span.tooltipped::after {
    background: rgba(0, 0, 0, 0.7);
    font: var(--ui-font-size-small) var(--ui-font-family);
    padding: .3em .75em;
}

.tooltipped:hover::before,
.tooltipped:hover::after,
.tooltipped:active::before,
.tooltipped:active::after,
.tooltipped:focus::before,
.tooltipped:focus::after {
    animation: none !important;
    opacity: 1;
}

.indicator-on {
    border-bottom: var(--indicator-height) solid var(--ui-highlight-color);
}

.indicator-on.auto-hide {
    border-bottom: var(--indicator-height) solid var(--purple);
}

/* panel */
.panel {
    height: calc(100% - var(--indicator-height) - var(--tab-bar-height));
    overflow-y: scroll;
    box-sizing: border-box;
}

.title {
    user-select: none;
    cursor: default;
    padding: .3rem;
    color: var(--accent6);
    font-size: var(--ui-font-size-large);
}

/* panel tables */
.panel table {
    user-select: none;
    cursor: default;
    table-layout: fixed;
    width: 100%;
    background: var(--gray2);
}

.panel .placeholder {
    padding: .3rem;
    background: var(--main-bg-color);
    color: var(--gray7);
    font-family: var(--ui-font-family);
}

.panel table,
.panel td {
    padding: 0;
    margin: 0;
    border-spacing: 0;
}

.panel td {
    vertical-align: top;
    cursor: default;
    border-bottom: 1px solid var(--panel-delimiter-color);
}

.panel tr:hover,
.panel tr.highlight {
    filter: brightness(1.2);
}

.panel tr.highlight:hover {
    filter: brightness(1.4);
}

.panel .line-number {
    width: 3rem;
    padding: .3rem .3rem .3rem 0;
    text-align: right;
    color: var(--ui-font-color);
    background: var(--primary2);
    font-family: var(--monospace-font-family);
}

.panel .highlight .line-number {
    background: var(--primary4);
}

/* Icons */

.l-python-icon {
    background: url(icons/python.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 70% 70% !important;
}

.l-jupyter-icon {
    background: url(icons/jupyter.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 70% 70% !important;
}

.gone {
    display: none !important;
}

.popup {
    z-index: 320;
    position: absolute;
    background: var(--popup-bg-color);
    color: var(--gray3);
    border-radius: var(--default-radius);
    box-shadow: var(--default-shadow);
    box-sizing: border-box;
}

.l-ui-text {
    color: var(--basic-ui-font-color);
}

.l-blue {
    color: var(--light-blue);
}

.l-brown {
    color: saddlebrown;
}

.l-green {
    color: var(--green);
}

.l-ao {
    color: var(--ao);
}

.l-slate {
    color: lightslategrey;
}

.l-olive {
    color: olive;
}

.l-orange {
    color: var(--yellow);
}

.l-purple {
    color: var(--purple);
}

.l-red {
    color: var(--red);
}

.l-brighter-red {
    color: var(--brighter-red);
}

.l-white {
    color: lightgray;
}

.l-yellow {
    color: var(--brighter-yellow);
}

.l-sandybrown {
    color: sandybrown;
}
