version: 2
jobs:
  build:
    docker:
      - image: red8012/akimous-dev-environment:latest
    steps:
      - checkout
      - restore_cache:
          keys:
            - akimous-{{ .Branch }}-{{ checksum "pyproject.toml" }}
            - akimous-{{ .Branch }}
            - akimous-
      - run: echo "export PATH=$HOME/.poetry/bin:$PATH" >> $BASH_ENV
      - run: make
      - save_cache:
          key: akimous-{{ .Branch }}-{{ checksum "pyproject.toml" }}
          paths:
            - ~/.cache/yarn
            - ~/.cache/pypoetry
      - run: make lint -j4
      - run: make test -j4
