@import url('https://fonts.googleapis.com/css?family=Roboto:300,400|Source+Code+Pro');
/*https://flatuicolors.com*/

:root {
    --main-bg-color: rgb(36, 36, 36);
    --panel-color: rgb(63, 63, 63);
    --dark-color: rgb(54, 54, 54);
    --darker-color: #151515;
    --darkest-color: #111;
    --panel-delimiter-color: rgb(88, 88, 88);
    --panel-delimiter-hover-color: var(--gray4);
    /*    --ui-highlight-color: rgb(48, 109, 199);*/
    --ui-highlight-color: var(--blue);
    --ui-selected-item: rgb(35, 106, 210);
    /*    --ui-danger-color: rgb(237, 70, 47);*/
    --ui-danger-color: var(--brighter-red);
    /*    --ui-prompt-color: rgb(59, 138, 116);*/
    --default-radius: .5rem;
    --small-radius: .3rem;

    --default-shadow: 0 .1rem 1rem .1rem rgba(0, 0, 0, .7);
    --small-shadow: 0 0 1rem 0 rgba(0, 0, 0, .3);
    --panel-border-thickness: 0.07rem;
    --panel-border: var(--panel-border-thickness) solid var(--panel-delimiter-color);

    --toolbar-height: 2rem;
    --tab-bar-height: 2rem;
    --indicator-height: .2rem;
    --panel-left-width: calc(8rem + 7vw);
    --panel-right-width: calc(8rem + 7vw);
    --function-doc-height: 61.8%;
    --prompt-width: 40rem;
    --bubble-width: 30rem;

    --tab-bar-icon-size: 1.4rem;

    --basic-ui-font-color: #ccc;
    --darker-ui-font-color: #aaa;
    --brighter-ui-font-color: #eee;
    --basic-ui-font-family: 'Roboto', 'Lucida Grande', 'Helvetica Neue', sans-serif;
    --basic-ui-font-size: 1rem;
    --ui-font-size-small: .85rem;
    --ui-font-size-large: 1.6rem;
    --basic-ui-line-height: 1.6rem;

    --basic-monospace-font-color: #ccc;
    --basic-monospace-font-family: "Source Code Pro", monospace;
    --basic-monospace-font-size: 1.2rem;
    --basic-monospace-line-height: 1.6rem;

    --modal-bg-color: #eee;
    --modal-text-color: #111;

    --red: #c0392b;
    --brighter-red: #e74c3c;
    --darker-red: #992D22;
    --light-red: #ff7675;

    --orange: #d35400;
    --brighter-orange: #e67e22;
    --darker-orange: #AD4500;

    --yellow: #f39c12;
    --brighter-yellow: #f1c40f;
    --darker-yellow: #CC830F;
    --light-yellow: #ffeaa7;

    --green: #27ae60;
    --brighter-green: #2ecc71;
    --darker-green: #1E874B;
    --light-green: #55efc4;

    --ao: #16a085;
    --brighter-ao: #1abc9c;
    --darker-ao: #117A66;

    --blue: #2980b9;
    --brighter-blue: #3498db;
    --darker-blue: #216694;
    --light-blue: #74b9ff;

    --purple: #8e44ad;
    --brighter-purple: #9b59b6;
    --darker-purple: #6F3587;

    --gray1: #ecf0f1;
    --gray2: #bdc3c7;
    --gray3: #95a5a6;
    --gray4: #47637F;
    --gray5: #34495e;
    --gray6: #2c3e50;
}


body {
    background-color: var(--main-bg-color);
    color: var(--basic-ui-font-color);
    font-family: var(--basic-ui-font-family);
    font-weight: 300;
}

.tab-view {
    height: calc(100% - var(--toolbar-height) - var(--indicator-height));
    width: 100%;
}

div.tooltipped::after,
span.tooltipped::after {
    background: rgba(0, 0, 0, 0.7);
    font: var(--ui-font-size-small) var(--basic-ui-font-family);
    padding: .3em .75em;
}

.tooltipped:hover::before,
.tooltipped:hover::after,
.tooltipped:active::before,
.tooltipped:active::after,
.tooltipped:focus::before,
.tooltipped:focus::after {
    animation: none !important;
    opacity: 1;
}

.indicator-on {
    border-bottom: var(--indicator-height) solid var(--ui-highlight-color);
}

.indicator-on.auto-hide {
    border-bottom: var(--indicator-height) solid var(--purple);
}

.l-python-icon {
    background: url(icons/python.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 70% 70% !important;
}

.l-jupyter-icon {
    background: url(icons/jupyter.svg) !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: 70% 70% !important;
}

.gone {
    display: none !important;
}

.l-ui-text {
    color: var(--basic-ui-font-color);
}

.l-blue {
    color: var(--light-blue);
}

.l-brown {
    color: saddlebrown;
}

.l-green {
    color: var(--green);
}

.l-slate {
    color: lightslategrey;
}

.l-olive {
    color: olive;
}

.l-orange {
    color: var(--yellow);
}

.l-purple {
    color: var(--purple);
}

.l-red {
    color: var(--red);
}

.l-white {
    color: lightgray;
}

.l-yellow {
    color: var(--brighter-yellow);
}

.l-sandybrown {
    color: sandybrown;
}
