[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "==0.19.0"
numpy = "*"
pandas = "*"
websockets = "*"
logzero = "*"
python-levenshtein = "*"
tqdm = "*"
watchdog = "*"
docutils = "*"
sphinx = "*"
scipy = "*"
jedi = "*"
gitpython = "*"
colorama = "*"
fuzzywuzzy = "*"

[dev-packages]
